<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SPA</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <%= link_to "Users List", users_path %>
        </li>
      </ul>
    </div>
  </nav>
